body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
}

.container {
    text-align: center;
}

.header_text {
    font-size: 3em;
    color: #d32f2f;
}

.gif_container img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

/* Confetti Styles */
.eight {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
}

.eight svg {
    width: 25px;
    position: absolute;
    top: 0;
    left: 0;
    visibility: hidden;
    z-index: -1;
}

.eight svg:nth-child(1) {
    top: 7vh;
    left: 5vw;
    fill: #bd6ecf;
}

.eight svg:nth-child(2) {
    top: 23vh;
    left: 35vw;
    fill: #7dd175;
}

.eight svg:nth-child(3) {
    top: 33vh;
    left: 23vw;
    fill: #349d8b;
}

.eight svg:nth-child(4) {
    top: 43vh;
    left: 57vw;
    fill: #347a9d;
}

.eight svg:nth-child(5) {
    top: 68vh;
    left: 7vw;
    fill: #c66053;
}

.eight svg:nth-child(6) {
    top: 42vh;
    left: 77vw;
    fill: #bfaa40;
}

.eight svg:nth-child(7) {
    top: 68vh;
    left: 83vw;
    fill: #e3bae8;
}

.eight svg:nth-child(8) {
    top: 86vh;
    left: 37vw;
    fill: #8762cb;
}

.eight svg:nth-child(9) {
    top: 94vh;
    left: 87vw;
    fill: #9a90da;
}
